{{>_navbar_lista}}

<div class="titulo-superior">Todas as receita você encontra aqui</div>

{{>_msg}}

<div id="area-informacao">

    <div id='area-botao-adicionar'>
        <div id='botao-adicionar'>
            <a href="/user/receitas/add">
                Adiciona
            </a>
        </div>
    </div>

    <div>
        {{#each receitas}}

        <div class="fundo-secundario">
            <form action="/user/receitas/deletar" method="POST">
                <input type="hidden" name="id" value="{{_id}}">

                <div id='botao-apagar'>
                    <button type="submit" class="deletar">
                        <strong>X</strong>
                    </button>
                </div>
            </form>
            <div class="titulo">{{titulo}}</div>
            <div class="tamanho-texto">Descrição</div>
            <div>{{assunto}}</div>
            <br>
            <center>
                <img src="/img/Pudim.jpeg" width="170px">
            </center>
            <br>
            <div class="tamanho-texto">Matérias</div>

            <div class="area-material">
                {{#if material1}}
                <div>- {{material1}}</div>
                {{/if}}
                {{#if material2}}
                <div>- {{material2}}</div>
                {{/if}}
                {{#if material3}}
                <div>- {{material3}}</div>
                {{/if}}
                {{#if material4}}
                <div>- {{material4}}</div>
                {{/if}}
                {{#if material5}}
                <div>- {{material5}}</div>
                {{/if}}

            </div>

            <div class="tamanho-texto">Passo a Passo</div>
            <div class="area-passo">
                {{#if passo1}}
                <div>1 - {{passo1}}</div>
                {{/if}}
                {{#if passo2}}
                <div>2 - {{passo2}}</div>
                {{/if}}
                {{#if passo3}}
                <div>3 - {{passo3}}</div>
                {{/if}}
                {{#if passo4}}
                <div>4 - {{passo4}}</div>
                {{/if}}
                {{#if passo5}}
                <div>5 - {{passo5}}</div>
                {{/if}}
            </div>

            <div id='area-botao-editar'>
                <a href="/user/receitas/editar/{{_id}}">
                    Editar
                </a>
            </div>
            <span>{{autor}}&nbsp;~</span>
            <span>{{formatDate date}}</span>
        </div>

        {{else}}
        <div id="area-receita">
            <strong>
                Nenhuma receita registrada
            </strong>
        </div>
        {{/each}}
    </div>
</div>